{% extends "linechart/layout.html" %}
{% block body %}
<div class="container">
  <div>
    <canvas id="myChart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: [{% for item in year %} {{item}}, {% endfor %}],
        datasets: [{
          label: 'Turnout Percentage in Karnataka Election from 1978 to 2023',
          data: [{% for item in turnout %} {{item}}, {% endfor %}],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
  
    
  </div>
{% endblock body %}