{% extends "barchart/layout.html" %}
{% block body %}
<div class="container">

  <div class="row justify-content-start">
    <div class="col-4">
      One of two columns
    </div>
    <div class="col-md-8">
      <div>
        <canvas id="myChart" width="400" height="200"></canvas>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: [{% for item in data %} '{{item.Year}}', {% endfor %}],
            datasets: [{
              label: '# of Total Candidates',
              data: [{% for item in data %} {{item.Total_Candidate}} {% endfor %}],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
    </div>
  </div>  
  
  
    
  </div>
{% endblock body %}